.breadcrumb {
    
    background-color: rgba(8, 9, 8, 0) !important;
    margin-bottom: 0rem !important;

    a {
        color: white !important;
    }
   
    .breadcrumb-item.active {
        color: lightgreen !important;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        
        color: white !important;
    }
}

.brdcrm {
    padding-top: 100px;
    background-image: linear-gradient(to right, 
    rgba(8, 8, 9, 0.5), 
    rgba(8, 8, 9, 0.5)), url(../img/About-header.png);
}

.about {
    padding-top: 100px;
    padding-bottom: 100px;

    p {
        padding-top: 29px;

    }

        .p1 {
            color: #0B315E;
        }

        .p2 {
            color: #717E97;

        }

        .row {
            padding-top: 29px;
            padding-bottom: 207px;
        }
}


.brdcrm2 {
    padding-top: 100px;
    background-image: linear-gradient(to right, 
    rgba(8, 8, 9, 0.5), 
    rgba(8, 8, 9, 0.5)), url(../img/Managementboard.png);
}

.brdcrm3 {
    padding-top: 100px;
    background-image: linear-gradient(to right, 
    rgba(8, 8, 9, 0.5), 
    rgba(8, 8, 9, 0.5)), url(../img/Pastregistars.png);
}

.brdcrm4 {
    padding-top: 100px;
    background-image: linear-gradient(to right, 
    rgba(8, 8, 9, 0.5), 
    rgba(8, 8, 9, 0.5)), url(../img/examlist.png);
}

.brdcrm5 {
    padding-top: 100px;
    background-image: linear-gradient(to right, 
    rgba(8, 8, 9, 0.5), 
    rgba(8, 8, 9, 0.5)), url(../img/ExamReq.png);
}

.brdcrm6 {
    padding-top: 100px;
    background-image: linear-gradient(to right, 
    rgba(8, 8, 9, 0.5), 
    rgba(8, 8, 9, 0.5)), url(../img/ExamFee.png);
}

.brdcrm7 {
    padding-top: 100px;
    background-image: linear-gradient(to right, 
    rgba(8, 8, 9, 0.5), 
    rgba(8, 8, 9, 0.5)), url(../img/ExamPeriod.png);
}

.brdcrm8 {
    padding-top: 100px;
    background-image: linear-gradient(to right, 
    rgba(8, 8, 9, 0.5), 
    rgba(8, 8, 9, 0.5)), url(../img/Schools.png);
}

.profilepic {
width: 61px;
height: 62px;
}

.pad {
    padding-left: 30rem!important;
}

@media (min-width: 576px) {

    .pad{
    padding-left: 6rem!important;
}
}

@media (min-width: 768px) {
    .pad{
    padding-left: 25rem!important;}
}

.board-mem {
    .container {
        background-color: #E7EDF8 !important;
        margin-top: 14px !important;  

        

        .row{
        padding-bottom: 26px !important;
        margin-left: 35px !important;

       

        p {
            padding-top: 0px;   
        } 
        
        .doc {
            font-family: 'Nunito';
            font-size: 24px;
            line-height: 28px;
            color: #0B315E;
            
        }

        .chman {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                color: #717E97;
            }
    }
    }
}

.chart {
    background-color: #E7EDF8;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 64px;
}

.bgtext {
    background-color: #DFE7F5;
    color: #0B315E;
    padding: 20px;
}

.duties {
    padding-top: 100px;
    padding-bottom: 100px;

    .duth {
font-family: 'Nunito';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #717E97;
    }

    .duthd {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        color: #0B315E;
        background-color: #ffff;
    }

    .dut {
        
        .p-3 {
            background-color: #0B315E;
            color: #ffff;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
        }

        .duthd {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            color: #0B315E;
            background-color: #ffff;
        }

        p{
        padding: 1rem;
        background-color: #E7EDF8;
font-family: 'Nunito';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #717E97;
    }

    }
}

.registars {
    p {
        padding-top: 0px;
        text-transform: uppercase;
        font-family: 'DM Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 31px;
            color: #0B315E;
            background-color: #ffff;

    }
        .pastyear {
            margin-top: 30px;
font-family: 'DM Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
color: #717E97;
        }
}

.examlist {
    padding-top: 11px;
    padding-bottom: 228px;
    .dut {
        
        .p-3 {
            margin-top: 70px;
            background-color: #0B315E;
            color: #ffff;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
        }

        .duthd {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            color: #0B315E;
            background-color: #ffff;
        }

        p{
        padding: 1rem;
        background-color: #E7EDF8;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #717E97;
    }
    }
}

.examfee {
    padding-top: 11px;
    padding-bottom: 228px;
    .dut {
        
        .p-3 {
            margin-top: 70px;
            background-color: #0B315E;
            color: #ffff;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
        }

        .duthd {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            color: #0B315E;
            background-color: #ffff;
        }

        .dline {
        background-color: #E7EDF8;
        color: #717E97;
        padding: 1rem;
        margin-top: 1rem;
        }

        p {
        padding-top: 0px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        }

        .drk {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: bold;
            color: #0B315E;
        }
    }
}

 .form-control {
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    padding: 1.70rem 1.75rem !important;
    }

    .btn-success {
        background-color: #558852 !important;
    }

    .Sch {
        padding-top: 100px;
        padding-bottom: 100px;
    
        p {
            padding-top: 29px;
    
        }
    
            .p1 {
                color: #0B315E;
                margin-bottom: 33px !important;
            }
    
            .p2 {
                color: #717E97;
    
            }
    
            .row {
                padding-top: 29px;
                padding-bottom: 207px;
            }
    }

.Schools {

    padding-top: 11px;
    padding-bottom: 228px;

    .input-group {
        .s-icon {
            
    height: 23.91px;
    width: 24px;
        }
    }
    
   

        .btn{
            border-radius: 30px;
            padding: 0.375rem 1.75rem;
        }

    .dut {
        
        .p-3 {
            margin-top: 70px;
            background-color: #0B315E;
            color: #ffff;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
        }

        .duthd {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            color: #0B315E;
            background-color: #ffff;
        }

        .dline {
        background-color: #E7EDF8;
        color: #717E97;
        padding: 1rem;
        margin-top: 1rem;
        }

        p {
        padding-top: 0px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-transform: uppercase;
        }

        .drk {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            align-items: center;
            color: #0B315E;
        }
    }
}


.N-sec {
background-color: #EDF2FC;

.row {
    padding-top: 81px;
}

    padding-bottom: 400px;
    .img1 {
        position: absolute;
        left: 110px;
        z-index: 1;
    }

    .img2 {
        position: relative;
        left: 67px;
        top: 209px;
    }

    .card {
        position: absolute;
        z-index: 2;
        border: 0px solid #FFFFFF;
        top: 156px;
        right: 45px;
        border-radius: 0px;
        width: 100%;
        background-color: #E7EDF8;


        .card-title {
            
font-family: 'DM Sans';
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
color: #0B315E;
        }

        .card-text {
            font-family: Nunito;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            /* or 175% */
            color: #717E97;
        }
    }
}
